<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 확인 웹페이지</title>
</head>
<body>
    <h1>게시글 확인 및 수정/삭제 웹페이지</h1>
    
</body>
</html>