<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Main view</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!--추가 스타일-->

</head>

<body>

    <div id="wrapper">

        <!--좌측 메뉴 영역-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">Example user</span>
                                <span class="text-muted text-xs block">menu <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="login.html">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active">
                        <a href="login.html"><i class="fa fa-th-large"></i> <span class="nav-label">로그인</span></a>
                    </li>
                    <li>
                        <a href="entry.html"><i class="fa fa-th-large"></i> <span class="nav-label">회원가입</span> </a>
                    </li>
                    <li>
                        <a href="/front/list.html"><i class="fa fa-th-large"></i> <span class="nav-label">게시글목록</span> </a>
                    </li>
                    <li>
                        <a href="write.html"><i class="fa fa-th-large"></i> <span class="nav-label">게시글작성</span> </a>
                    </li>
                </ul>

            </div>
        </nav>

        <!--우측 영역-->
        <div id="page-wrapper" class="gray-bg">

            <!--우측 상단 영역 -->
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                                class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="#">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control"
                                    name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

            <!--우측 콘텐츠 헤더영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>게시글정보관리</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/Home/Index">Home</a>>
                        </li>
                        <li>
                            <a>게시글정보관리</a>>
                        </li>
                        <li class="active">
                            <strong>기존 게시글 확인 및 수정/삭제</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <div class="wrapper wrapper-content">

                <form id="modifyForm" action="/article/modify" method="post">
                    <div class="ibox-content m-b-sm border-bottom">
                        <!-- 글제목영역 -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">글제목</label>
                                    <input type="text" id="title" name="title" value="<%=article.title%>" class="form-control">
                                </div>
                            </div>
                        </div>

                        <!-- 글내용영역 -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">글내용</label>
                                    <textarea class="form-control" id="contents" name="contents" rows="10" cols="5"><%=article.contents%></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- 게시여부 영역하나만 표시 -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">게시여부</label>
                                    <select class="form-control" id="display" name="display">
                                        <option value="9">선택</option>
                                        <option value="1">게시</option>
                                        <option value="0">게시안함</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">수정</button>
                            <button type="button" class="btn btn-danger">삭제</button>
                            <a href="/article/list" class="btn btn-info">목록</a>
                        </div>

                    </div>
                </form>

            </div>

            <!--우측 하단 풋터 영역-->
            <div class="footer">
                <div class="pull-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2018
                </div>
            </div>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>


    <!--추가 스크립트-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

    </script>

</body>
</html>
