            <!--우측 콘텐츠 헤더영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>게시글정보관리</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/Home/Index">Home</a>
                        </li>
                        <li>
                            <a>게시글정보관리></a>
                        </li>
                        <li class="active">
                            <strong>수정</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <div class="wrapper wrapper-content">
                <form method="post" action="/article/modify">
                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">게시글아이디</label>
                                    <input type="text" name="id" class="form-control" value="">
                                </div>
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">게시글제목</label>
                                    <input type="text" name="pw" class="form-control" value="">
                                </div>
                            </div>
    
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">게시글내용</label>
                                    <input type="text" name="code" class="form-control" value="">
                                </div>
                            </div>
    
                        </div>
    
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">저장</button>
                            <a href="/article/list" class="btn btn-info">목록</a>
                            <a href="/article/delete" class="btn btn-danger">삭제</a>
                        </div>
    
                    </div>
                </form>
            </div>
