<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>신규 관리자계정 등록</h1>
    <form action="/admin/create" method="post">
        
        <button type="submit">등록</button>
    </form>
</body>
</html>