<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅서버에 연결된 모든 사용자간 채팅</title>
</head>
<body>
    <h1>채팅서버에 연결된 모든 사용자간 채팅</h1>
    닉네임: <input type="text" id="nickname"/> <br/>
    메시지: <input type="text" id="message"/> <br/>
    <button id="btnSend">전송</button>

    <!-- 채팅 수신 이력 표시영역 -->
    <ul id="chatHistory">
        <li>eddy:안녕하세요.</li>
    </ul>

    <!-- 아래부분이 프론트엔드 코딩영역입니다.웹브라우저에서 실행됩니다. -->
    <script>

    </script>
</body>
</html>