<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지정된 채팅방(채널)에 연결된 그룹 사용자간 채팅</title>
</head>
<body>
    <h1>지정된 채팅방(채널)에 연결된 그룹 사용자간 채팅</h1>
    
</body>
</html>